{{ define "main" }}
    <div class="category-page{{ with .Content }} category-page--with-content{{ end }}">
        {{ with .Content }}
            <div class="hero-block">
                <div class="hero-block__title-wrapper container">
                    <h3 class="hero-block__title">
                        {{ $.Title }}
                    </h3>
                </div>
                <div class="hero-block__content-wrapper">
                    <div class="container">
                        <div class="hero-block__content type">
                            <p>
                                <strong>
                                    {{ $.Params.Summary }}
                                </strong>
                            </p>
                            {{ . }}
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
        <section class="initiative-list">
            <div class="container">
                <h2 class="suptitle">Les {{ len .Pages }} initiatives</h2>
                <ul>
                    {{ range .Pages }}
                        <li class="initiative-list__item">
                            {{ .Render "card" }}
                        </li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </div>
{{ end }}