{{ define "main" }}
    <div class="container text-align-center">
        <h2>Oups, page non trouvée !</h2>
        <p>
            <a href="/" title="Retourner à l'accueil">Retourner à l'accueil</a>.
        </p>
    </div>
{{ end }}