{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Section" "initiatives" }}

    {{ with .Page.Params.Intro }}
        {{ with $.Site.GetPage "intro" }}
            {{ .Render "featured" }}
        {{ end }}
    {{ end }}

    {{ with .Page.Params.Featured }}
        {{ with $.GetPage (printf "/initiatives/%s" .) }}
            {{ .Render "featured" }}
        {{ end }}
    {{ end }}

    <div class="container">
        <h2 class="suptitle">Initiatives citoyennes de Transition</h2>
        {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies.categories }}
            {{ partial "categories/summary.html" . }}
        {{ end }}
    </div>
{{ end }}