.site-footer {
  background-color: $front-color;
  color: $background-color;
  padding: 4rem 0;
  text-align: center;

  &__title {
    font-size: 2rem;
    margin-top: 0;

    @include respond-above(xs) {
      font-size: 2.25rem;
    }
  }

  &__about {
    margin-bottom: 2rem;
  }

  &__cta {
    @include vertical-trait($color: $background-color);

    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }

  .social-nav {
    ul {
      justify-content: center;
    }

    &__item {
      margin-right: .6rem;
    }
  }

  .social-nav__item,
  .button {
    background-color: $background-color;
    color: $front-color;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($background-color, 5%);
    }
  }
}