<div class="initiative-card">
    {{ $title := .Title }}
    <h4 class="initiative-card__title">
        <a href="{{ .Permalink }}" class="invert" title="Voir l'initiative">
            {{ with .Params.Draft }}
                [Brouillon]
            {{ end }}
            {{ $title }}
        </a>
    </h4>

    {{ with .Resources.GetMatch "cover*" }}
        {{ $image := .Fill "300x200 q40 Linear" }}
        <p class="initiative-card__cover">
            <a href="{{ $.Permalink }}" title="Voir l'article consacré à {{ $title }}">
                <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
                     alt="Couverture de l'initiative {{ $title }}"/>
            </a>
        </p>
    {{ end }}
</div>
