{{ define "main" }}
    <article class="initiative">
        <div class="container">
            <header class="initiative__header">
                <div class="container">
                    <h2 class="initiative__title">
                        {{ with .Params.Draft }}
                            [Brouillon]
                        {{ end }}
                        {{ .Page.Title }}
                    </h2>

                    {{ if .Page.Params.LongText }}
                        {{ with .Summary }}
                            <p class="initiative__summary">
                                {{ . }}
                            </p>
                        {{ end }}

                        {{ with .Param "tags" }}
                            <p class="initiative__tag-list tag-list">
                                {{ range $tag := . }}
                                    <span class="tag-list__item">
                                {{ $tag }}
                            </span>
                                {{- end -}}
                            </p>
                        {{ end }}
                    {{ end }}
                </div>
            </header>

            <figure class="initiative__cover">
                {{ with .Params.YoutubeId }}
                    <div class="initiative__cover__video">
                        {{ partial "youtube" . }}
                    </div>
                {{ else }}
                    {{ with .Resources.GetMatch "cover*" }}
                        {{ $image := .Fill "940x450 q70" }}
                        <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"
                             height="{{ $image.Height }}" alt="Couverture de l'initiative {{ $.Title }}"/>
                    {{ end }}
                {{ end }}
            </figure>

            <main class="initiative__content">
                <div class="initiative__left">
                    <div class="initiative__thumbnails">
                        {{ with .Params.YoutubeId }}
                            <a href="https://www.youtube.com/embed/{{ . }}" class="initiative__video-thumbnail">
                                {{ partial "svg/play.svg" }}
                            </a>
                        {{ end }}
                        {{ with .Resources.GetMatch "cover*" }}
                            {{ partial "initiatives/thumbnail.html" . }}
                        {{ end }}
                        {{ range .Resources.Match "gallery/*" }}
                            {{ partial "initiatives/thumbnail.html" . }}
                        {{ end }}
                    </div>

                    <div class="initiative__text">
                        <div class="type">
                            {{ if ne .Page.Params.LongText true }}
                                {{ with $.Summary }}
                                    <p>
                                        {{ . }}
                                    </p>
                                {{ end }}

                                {{ .Content }}

                                {{ with .Param "tags" }}
                                    <p class="initiative__tag-list tag-list">
                                        {{ range $tag := . }}
                                            <span class="tag-list__item">
                                                {{ $tag }}
                                            </span>
                                        {{- end -}}
                                    </p>
                                {{ end }}
                            {{ else }}
                                {{ .Content }}
                            {{ end }}
                        </div>
                    </div>
                </div>

                <div class="initiative__right">
                    {{ with .Params.Contact.website }}
                        <p class="initiative__cta">
                            <a href="{{ . }}" title="Voir le site internet de {{ $.Title }}" class="button">
                                Visiter le site
                            </a>
                        </p>
                    {{ end }}
                    <ul class="initiative__social-links initiative__link-group">
                        {{ with .Params.Contact.facebook }}
                            <li>
                                <div class="info-item">
                                    <div class="info-item__icon">
                                        {{ partial "svg/facebook-f.svg" }}
                                    </div>
                                    <p class="info-item__content">
                                        <a href="https://facebook.com/{{ . }}/" target="_blank">
                                            <span>facebook.com/{{ . }}</span>
                                        </a>
                                    </p>
                                </div>
                            </li>
                        {{ end }}
                        {{ with .Params.Contact.twitter }}
                            <li>
                                <div class="info-item">
                                    <div class="info-item__icon">
                                        {{ partial "svg/twitter.svg" }}
                                    </div>
                                    <p class="info-item__content">
                                        <a href="https://twitter.com/{{ . }}" target="_blank">
                                            <span>@{{ . }}</span>
                                        </a>
                                    </p>
                                </div>
                            </li>
                        {{ end }}
                        {{ with .Params.Contact.instagram }}
                            <li>
                                <div class="info-item">
                                    <div class="info-item__icon">
                                        {{ partial "svg/instagram.svg" }}
                                    </div>
                                    <p class="info-item__content">
                                        <a href="https://instagram.com/{{ . }}/" target="_blank">
                                            <span>{{ . }}</span>
                                        </a>
                                    </p>
                                </div>
                            </li>
                        {{ end }}
                        {{ with .Params.Contact.mail }}
                            <li>
                                <div class="info-item">
                                    <div class="info-item__icon">
                                        {{ partial "svg/envelope.svg" }}
                                    </div>
                                    <p class="info-item__content">
                                        <a href="mailto:{{ . }}">
                                            <span>{{ . }}</span>
                                        </a>
                                    </p>
                                </div>
                            </li>
                        {{ end }}
                    </ul>

                    {{ range $location := .Params.Locations }}
                        <div class="initiative__link-group">
                            <div class="info-item">
                                <div class="info-item__icon">
                                    {{ partial "svg/map.svg" }}
                                </div>
                                <div class="info-item__content">
                                    {{ with .name }}
                                        <h4 class="info-item__title">{{ . }}</h4>
                                    {{ end }}
                                    {{ with .address }}
                                        <p>
                                            {{ if $location.googlePlaceId }}
                                                <a href="https://www.google.com/maps/place/?q=place_id:{{ $location.googlePlaceId }}" title="Voir ce lieu sur Google Maps">
                                                    {{ . | safeHTML }}
                                                </a>
                                            {{ else if $location.latitude }}
                                                <a href="https://www.google.com/maps?q={{ $location.latitude }},{{ $location.longitude }}" title="Voir ce lieu sur Google Maps">
                                                    {{ . | safeHTML }}
                                                </a>
                                            {{ else }}
                                                {{ . | safeHTML }}
                                            {{ end }}
                                        </p>
                                    {{ end }}
                                </div>
                            </div>
                            {{ with .hours }}
                                <div class="info-item">
                                    <div class="info-item__icon">
                                        {{ partial "svg/clock.svg" }}
                                    </div>
                                    <p class="info-item__content">
                                        {{ . | safeHTML }}
                                    </p>
                                </div>
                            {{end}}
                            {{ with .phone }}
                                <div class="info-item">
                                    <div class="info-item__icon">
                                        {{ partial "svg/phone.svg" }}
                                    </div>
                                    <p class="info-item__content">
                                        <a href="tel:{{ . }}">
                                            {{ . }}
                                        </a>
                                    </p>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}

                    {{ with .Params.Valheureux }}
                        <div class="initiative__flags intiative__link-group">
                            <div class="info-item">
                                <div class="info-item__icon">
                                    {{ partial "svg/valheureux-logo.svg" }}
                                </div>
                                <p class="info-item__content">
                                    Accepte les Val'heureux
                                </p>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </main>
        </div>
    </article>

    <div class="container">
        <div class="see-also">
            <h2 class="suptitle">A voir aussi</h2>
            <div class="see-also__content">
                <section class="initiative-list">
                    <ul>
                        {{ $related := .Site.RegularPages.Related . | first 6 }}
                        {{ range $related }}
                            <li class="initiative-list__item">
                                {{ .Render "card" }}
                            </li>
                        {{ end }}
                    </ul>
                </section>
            </div>
        </div>
    </div>
{{ end }}