{{ with $.Page.Resources.GetMatch (.Get "src")}}
    {{ $image := .Resize "560x" }}
<figure>
    <a href="{{ .RelPermalink }}">
        <img src="{{ $image.RelPermalink }}" alt="{{ $.Get "title" }}" />
    </a>
    <figcaption>{{ $.Get "title" }}</figcaption>
</figure>
{{ else }}
    <code>Image not found</code>
{{ end }}