.initiative-card {
  display: flex;
  flex-direction: column-reverse;

  &__cover {
    margin-bottom: 0;

    a {
      text-align: center;
      display: block;
    }
  }

  &__title {
    margin-top: .5rem;
    text-align: center;

    a {
      font-size: $font-size-lg;
    }
  }

  img {
    height: auto;
    width: 100%;
    max-width: 350px;
    transition: filter .35s ease-out;

    &:hover,
    &:focus,
    &:active {
      filter: brightness(1.15);
    }
  }
}