.social-nav {
  ul {
    @include list-unstyled;
    display: flex;
  }

  &__item {
    align-items: center;
    background-color: $front-color;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 2.15rem;
    justify-content: center;
    margin-right: .3rem;
    width: 2.15rem;

    svg {
      max-height: 1em;
      display: inline-block;
      font-size: inherit;
      overflow: visible;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($front-color, 20%);
    }
  }

  li:last-child {
    .social-nav__item {
      margin-right: 0;
    }
  }
}