.tag-list {
  &__item {
    background-color: $front-color;
    border-radius: 10px;
    color: $background-color;
    display: inline-block;
    font-size: $font-size-xs;
    font-weight: lighter;
    letter-spacing: 0.12em;
    padding: 1px .8em;
    text-transform: uppercase;

    @include respond-above(xs) {
      font-size: $font-size-sm;
      margin: 0 .2rem;
    }
  }
}