@mixin vertical-trait($height: 40px, $position: bottom, $color: $front-color) {
  position: relative;

  &:after {
    background-color: $color;
    content: '';
    height: $height;
    left: 50%;
    position: absolute;
    width: 1px;

    @if ($position == "bottom") {
      bottom: -($height / 2);
    } @elseif ($position == "top") {
      top: -($height / 2);
    }
  }
}