<!doctype html>
<html lang="fr-BE">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main class="site-content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
