@each $index, $color in $colors {
  .bg-color-#{$index} {
    background-color: #{$color} !important;
  }
  .color-#{$index} {
    background-color: #{$color} !important;
  }
  .before-bg-color-#{$index} {
    &:before {
      background-color: #{$color} !important;
    }
  }
}