.suptitle {
  font-family: $font-family-text;
  font-size: $font-size-xs;
  font-weight: lighter;
  letter-spacing: .2em;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  &:before,
  &:after {
    content: '~';
    padding: .25rem;
  }
}