<header class="site-header container">
    <div class="site-header__top">
        <section class="site-header__left">
            <h1>
                <a href="{{ .Site.BaseURL }}" class="site-header__brand">
                    <img src="{{ .Site.BaseURL }}images/logo.jpg" alt="{{ .Site.Title }}">
                    <span>{{ .Site.Params.Title }}</span>
                </a>
            </h1>
        </section>
        <section class="site-header__right">
            <nav class="site-header__main-nav">
                <ul>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL }}"
                               class="site-header__main-nav__item invert {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"
                               title="{{ .Page.LinkTitle }}">
                                {{ .Page.Title }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>

            {{ partial "social_nav.html" . }}
        </section>
    </div>

    <nav class="site-nav">
        {{ $initiative_category := "" }}
        {{ with index ($.GetTerms "categories") 0 }}
            {{ $initiative_category = .Data.Term }}
        {{ end }}
        <ul>
            {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies.categories }}
                {{ $active_class := "" }}
                {{ if (or (eq $.Data.Term $taxonomy.Page.Data.Term) (eq $taxonomy.Page.Data.Term $initiative_category)) }}
                    {{ $active_class = "active" }}
                {{ end }}
                <li>
                    <a href="{{ .Page.Permalink }}"
                       class="site-nav__item before-bg-color-{{ .Page.Params.colorId }} {{ $active_class }}"
                       title="Voir les initiatives de la catégorie {{ .Page.Title }}">
                        <span>{{ .Page.Title }}</span>
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
</header>
