<nav class="social-nav">
    <ul>
        {{ range .Site.Menus.social }}
            <li>
                <a href="{{ .URL }}" class="social-nav__item"
                   title="Voir notre page sur {{ .Name }}">
                    {{ partial (printf "%s%s%s" "svg/" .Identifier ".svg") }}
                </a>
            </li>
        {{ end }}
    </ul>
</nav>